<component name="ArtifactManager">
  <artifact type="war" name="springBootDeom:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springBootDeom.war">
      <element id="artifact" artifact-name="springBootDeom:war exploded" />
    </root>
  </artifact>
</component>